@import "base/variables";
@import "libs/bootstrap-reboot.min";
@import "base/fonts";

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    background-color: $main-color;
}

img {
    max-width: 100%;
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.container{
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1240px;
}
@import "blocks/header";