@import "base/variables";
@import "libs/bootstrap-reboot.min";
@import "base/fonts";

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    background-color: $main-color;
}

a{  
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1240px;
}

.btn {
    width: 120px;
    height: 50px;
    margin-left: 40px;
    background-color: $second-color;
    font-weight: 600;
    font-size: 16px;
    color: #fdf5ff;
    border: none;
    border-radius: 8px;
    transition: all .3s;
    &:hover{
        transform: scale(1.05);
    }
}

.apps {
    display: grid;
    grid-template-columns: repeat(3, 395px);
    grid-template-rows: 295px;
    row-gap: 32px;
    margin-top: 90px;

    .app__item {
        display: flex;
        flex-direction: column;
        padding: 35px;
        transition: all .3s;
        &:hover {
            background: rgba(40, 48, 54, .6);
            border: rgb(34, 39, 44) solid 3px;
            border-radius: 15px;
            padding: 25px;
            .app__descr{
                margin: 20px 0;
            }
            .app__footer{
                padding-right: 0;
            }
            .app__visit {
                border-radius: 8px;
                width: 110px;
                height: 40px;
                background-color: $second-color;
                display: flex;
                justify-content: center;
                align-items: center;
                color:#fff;
                
            }
        }
    }

    .app__head {
        display: flex;
    }

    .app__name {
        margin-left: 30px;
    }

    .app__title {
        font-weight: 500;
        font-size: 24px;
        color: rgba(255, 255, 255, 0.78);
    }

    .app__subtitle {
        font-weight: 400;
        font-size: 18px;
        color: rgba(255, 165, 55, 0.55);
    }

    .app__descr {
        font-weight: 400;
        font-size: 16px;
        line-height: 187%;
        color: $main-text;
        margin: 30px 0;
        overflow: auto;
    }

    .app__footer {
        padding-right: 35px;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    .like,
    .toFolder {
        background-color: transparent;
        border: none;
    }

    .toFolder {
        margin-left: 12px;
    }

    .app__visit {
        font-weight: 600;
        font-size: 16px;
        text-decoration: none;
        color: $main-text;
    }
}

@import "blocks/header";
@import "blocks/about";
@import "blocks/tools";
@import "blocks/brands";
@import "blocks/newcomer";
@import "blocks/team";