.header {
    margin-top: 26px;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $main-text;
    }
}

.logo {
    display: flex;
    align-items: center;

    &__text {
        margin-left: 10px;
        font-weight: 600;
        font-size: 22px;
        color: $second-text;
    }
}

.nav {
    &__list {
        display: flex;
        justify-content: space-evenly;
        font-weight: 500;
        font-size: 16px;
    }

    &__item {
        padding-left: 45px;
    }
}

.login {
    font-weight: 600;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.78);

    border: none;
    background: transparent;
}

.burger{
    display: none;
}
.overlay{
    display: none;
}

