.team {
    margin-top: 200px;
}

.slider {
    position: relative;
&__item{
    margin: 0 auto;
}
    &__content {
        display: flex;
        justify-content: center;
    }

    &__arrow {
        position: absolute;
        bottom: 0;
        top: 50%;
        left: 0;

        span {
            display: flex;
            width: 12px;
            height: 3px;
            background-color: #777777;

            &:nth-child(1) {
                transform: rotate(-45deg);
            }

            &:nth-child(2) {
                margin-top: 3px;
                transform: rotate(45deg);
            }
        }

        &_right {
            transform: rotateY(180deg);
            right: 0;
        }
    }

    &__text {
        position: relative;
        margin-left: 60px;
        margin-top: 155px;
        max-width: 395px;
        font-weight: 400;
        font-size: 14px;
        line-height: 214%;
        color: rgba(255, 255, 255, 0.78);
        z-index: 2;

        &::before {
            position: absolute;
            top: -60px;
            left: -50px;
            content: url("../icons/quotes-icon.svg");
        }
    }
    &__btns{
        display: flex;
        justify-content: center;
        gap: 18px;
        margin-top: 100px;
    }
    &__btn{
        width: 45px;
        height: 6px;
        background-color: #283036;
        border-radius: 4px;
        &_active{
            background-color: $second-color;
            height: 8px;
        }
    }
}