.tools {
    margin-top: 200px;

    &__title {
        font-weight: 500;
        font-size: 48px;
        line-height: 130%;
        text-align: center;
        color: $second-text;
    }

    &__subtitle {
        font-weight: 500;
        font-size: 18px;
        line-height: 167%;
        text-align: center;
        color: $main-text;
    }

    .loadmore {
        display: block;
        margin: 0 auto;
        margin-top: 100px;
        background: $main-color;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 8px;
        width: 185px;
        height: 65px;
        color: $second-color;
        font-weight: 500;
        font-size: 20px;
        transition: transform .3s ease-in-out;
        &:hover{
            transform: scale(1.1);
            background-color: $second-color;
            color: $second-text;
        }
    }
}